@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@font-face {
  font-family: "DSEG7Modern-Regular";
  src: url(DSEG7Modern-Regular.woff);
}


 html {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100vw;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  position: relative;
}

.area {
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
  width: 100%;
  height: 100vh;
  /* z-index: -1; */
}


#all {
  height: 100vh;
  width: 100vw;
}

#particles-js{ 
  /*�`��Œ�*/
	position:fixed;
	z-index:-1;/* �`�����ԉ��� */
	width: 100%;
	height: 100%;
  /*�w�i�F*/
	background-color:#000000;
}

.contentWrapper {
  z-index: 1;
  height: 900px;
  width: 1500px;
  position: absolute;
  position: relative;
  top: 3%;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: auto;
}

#correctCube {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -280px;
  border: ridge 80px;
  border-radius: 50%;
  border-color: rgb(255, 0, 0, 0.7);
  background: radial-gradient(rgb(255, 230, 230, 0.5), rgb(255, 120, 120, 0.5));
  z-index: 100;
  display: none;
}

.explanation {
  position: absolute;
  width: 1000px;
  height: 750px;
  background:rgba(255, 255, 255, 0.95);
  border: outset 10px black;
  color: black;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  box-shadow: 0 5px 5px rgb(0, 0, 0);
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  line-height: 38px;
  top: 50%;
  left: 50%;
  margin-top: -455px;
  margin-left: -510px;
  padding: 20px;
  z-index: 100;
  text-align: center;
  border-radius: 10%;
  display: inline;
}

.explanation span {
font-size: 50px;
line-height: 60px;
}

.close {
  font-size: 50px;
  width: 150px;
  height: 70px;
  margin-top: 10px;
  color: white;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  user-select: none;
  transition: 0.3s;
}

.close:hover {
  color: white;
  background: black;
}

.rankingClose:hover {
  color: white;
  background: black;
}

.result {
  position: absolute;
  width: 900px;
  height: 700px;
  font-size: 40px;
  color: white;
  background: #000000;
  font-family: 'Orbitron', sans-serif;
  top: 50%;
  left: 50%;
  margin-top: -415px;
  margin-left: -515px;
  padding: 0%;
  z-index: 100;
  text-align: center;
  user-select: none;
  /* background-image: linear-gradient(0deg, transparent calc(100% - 1px), rgba(185, 214, 255, 0.4) calc(100% - 1px)),
  linear-gradient(90deg, transparent calc(100% - 1px), rgba(185, 214, 255, 0.4) calc(100% - 1px));
  background-size: 25px 25px;
  background-repeat: repeat;
  background-position: center center; */
  overflow: scroll;
}

#registScreen {
  font-family: 'Orbitron', sans-serif;
  top: 50%;
  left: 50%;
  margin-top: -415px;
  margin-left: -515px;
  z-index: 100;
  text-align: center;
  border-radius: 0;
  user-select: none;
  overflow: auto;
  /* background-image: linear-gradient(0deg, transparent calc(100% - 1px), rgba(185, 214, 255, 0.753) calc(100% - 1px)),
  linear-gradient(90deg, transparent calc(100% - 1px), rgba(185, 214, 255, 0.753) calc(100% - 1px)); */
  background-size: 25px 25px;
  background-repeat: repeat;
  background-position: center center;
}


#registName {
  width: 500px;
  height: 70px;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#warningWrapper {
  width: 500px;
  height: 70px;
  margin: auto;
}

#warning {
  font-size: 40px;
  color: red;
}

.ranking {
  position: absolute;
  width: 900px;
  height: 700px;
  font-size: 40px;
  border: outset 15px rgb(150, 50, 50, 0.6);
  color: white;
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  font-family: 'Orbitron', sans-serif;
  top: 50%;
  left: 50%;
  /* margin-top: -415px;
  margin-left: -515px; */
  z-index: 100;
  text-align: center;
  border-radius: 10%;
  user-select: none;
}

.itemCovor {
  position: sticky;
  background-color: #000000;
  top: 0;
}

.rankingTitle {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#rankingItem {
  display: flex;
  height: 40px;
  width: 100%;  
  background-color: black;
  justify-content: center;
  margin: 0;
  font-size: 30px;
}

.items {
  /* border: solid white 3px; */
}

#space {
  width: 5%;
  margin: 3px;
  border: none;
}

#nameItem {
  width: 40%;
  margin: 3px;
}

#scoreItem {
  width: 25%;
  margin: 3px;
}

#dateItem {
  width: 25%;
  margin: 3px;
}

.rankVal {
  height: 40px;
  font-size: 30px;
  margin: 1px;
  border: solid 3px;
  border-color: white;
}

.rankingContent {
  overflow: scroll;
}

.rankDetail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#rankNum {
  flex-basis: 5%;
}

#rankName {
  flex-basis: 40%;
}

#rankScore {
  flex-basis: 25%;
}

#rankDate {
  flex-basis: 25%;
}

#resultDetailTitle {
  display: block;
  font-size: 50px;
  margin-top: 0.5%;
  margin-bottom: 1.3%;
}

#detailWrapper {
  display: flex;
  width: 100%;
  margin: 5px;
  justify-content: center;
  border-bottom: solid white 1px;
  /* border-bottom: dashed 3px; */
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.solvedNum {
  vertical-align: baseline;
  width: 10%;
  font-size: 30px;
  margin: auto;
}

.solvedFormula {
  width: 30%;
  font-size: 35px;
  margin: auto;
}

.detailAnswerFormula {
  width: 40%;
  font-size: 35px;
  margin: auto;
}

.intervalTime {
  width: 15%;
  font-size: 35px;
  margin: auto;
}

.reloadCheck {
  width: 5%;
  font-size: 30px;
  margin: auto;
}

.answerFormula {
  position: absolute;
  width: 1400px;
  height: 200px;
  font-size: 90px;
  background: radial-gradient(rgb(100, 120, 255) , rgba(15, 20, 100, 0.9));
  border: outset 15px rgb(150, 50, 50, 0.6);
  color: white;
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  box-shadow: 0 5px 15px rgb(78, 84, 200);
  font-family: 'Orbitron', sans-serif;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -700px;
  z-index: 10;
  line-height: 90px;
  text-align: center;
  border-radius: 1%;
  user-select: none;
  align-items: center;
  display: none;
}

.answerNoChange {
  position: absolute;
  width: 1200px;
  height: 800px;
  font-size: 100px;
  top: 50%;
  left: 50%;
  margin-top: -415px;
  margin-left: -700px;
  z-index: 5;
  user-select: none;
  display: none;
}

#scoreWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

#scoreWrap div{
  font-size: 60px;
  line-height: 30px;
  text-align: center;
}

#modeText {
  line-height: 80px;
  font-size: 60px;
  color: rgb(15, 200, 0);
}

#evaluation {
  font-family: 'Henny Penny', cursive;
  font-size: 110px;
  color: rgb(180, 0, 36);
  text-shadow: 1px 0px 2px rgb(255, 255, 255);
  line-height: 110px;
}

#evalComment {
  color: rgb(180, 0, 36);
  font-size: 25px;
  line-height: 70px;
}

#resultButtonWrapper {
  display: flex;
  justify-content: space-around;
}

.resultButton {
  width: 200px;
  height: 60px;
  margin-top: 20px;
  color: white;
  background-color: #00000000;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 6%;
  font-family: 'Electrolize', sans-serif;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}
/* 
#detailScreen {
  font-family: 'Orbitron', sans-serif;
  top: 50%;
  left: 50%;
  margin-top: -415px;
  margin-left: -515px;
  z-index: 100;
  text-align: center;
  border-radius: 0;
  user-select: none;
  overflow: auto;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), rgba(185, 214, 255, 0.753) calc(100% - 1px)),
  linear-gradient(90deg, transparent calc(100% - 1px), rgba(185, 214, 255, 0.753) calc(100% - 1px));
  background-size: 25px 25px;
  background-repeat: repeat;
  background-position: center center;
} */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.resultButton:hover { 
  color: black;
  background-color: white; 
  opacity: 0.8;
  transform: translateY(1px);
}

#tryButton {
  font-size: 35px;
}

#inputUser {
  font-size: 30px;
}

#checkDetail {
  font-size: 35px;
}

.title {
  font-family: 'Electrolize', sans-serif;
  /* font-family: 'Sacramento', cursive; */
  font-size: 180px;
  color: rgb(255, 255, 255);
  user-select: none;
  cursor: pointer;
}

.overDriveTitle {
  /* font-family: 'Creepster', cursive; */
  /* font-family: 'Griffy', cursive; */
  /* font-family: 'Frijole', cursive; */
  font-family: 'Nosifer', cursive;
  font-size: 130px;
  color: rgb(185, 0, 0);
  /* user-select: none; */
  cursor: pointer;
}

.clearCount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Electrolize', sans-serif;
  color: rgb(255, 255, 255);
  user-select: none;
}

.overDriveCount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: 'Creepster', cursive;
  color: rgb(185, 0, 0);
  text-shadow: 3px 3px rgb(0, 0, 0);
  user-select: none;
}

.targetNum {
  display: none;
}

#formulaBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers {
  margin: 2px;
  height: 85px;
  width: 85px;
  font-size: 80px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  user-select: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  /* border: inset rgb(255, 255, 255); */
}


.overDriveNum {
  margin: 2px;
  height: 100px;
  width: 130px;
  font-size: 100px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Are You Serious', cursive;
  user-select: none;
  cursor: pointer;
  color: rgb(150, 0, 0);
  border: dashed rgba(100, 0, 0, 0.5);
  text-shadow: 3px 3px rgb(0, 0, 0);
}


.numbers:hover {
  background: rgb(255, 255, 255);
  color: black;
  /* opacity: 0.7; */
}

.overDriveNum:hover {
  background:  rgba(100, 0, 0);
}

.brackets {
  margin: 1px;
  height: 95px;
  width: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 90px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  /* border: inset rgb(255, 255, 255); */
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.overDriveBra {
  margin: 1px;
  height: 95px;
  width: 40px;
  font-size: 120px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Griffy', cursive;
  border: dashed rgba(100, 0, 0, 0.5);
  color: rgb(150, 0, 0);
  padding-top: 15px;
  user-select: none;
  cursor: pointer;
}

.hovered0 {
  background-color: white;
  color: black;
}

.hovered1 {
  background-color: white;
  color: black;
}

.hovered2 {
  background-color: white;
  color: black;
}

.hovered3 {
  background-color: white;
  color: black;
}

.hovered4 {
  background-color: white;
  color: black;
}

.overDriveBra:hover {
  background:  rgb(255, 0, 0);
}

.clickAct {
  background-color: rgb(255, 255, 255);
  color: black;
}

.overDriveCAct {
  background-color: rgb(255, 0, 0);
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* margin: 3px; */
  font-size: 90px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  /* border: inset rgb(255, 255, 255); */
  font-family: 'Quattrocento Sans', sans-serif;
  pointer-events: auto;
  user-select: none;
}

.dragging {
  opacity: 0.8;
}

.draggable {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: gray;
  color: white;
  font-size: 36px;
  cursor: pointer;
  user-select: none;
}

.dragging {
  background: rgb(255, 255, 255);
  color: #000000;
}

.overDriveSym {
  width: 50px;
  height: 50px;
  margin: 3px;
  font-size: 120px;
  /* padding-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 0, 0);
  text-shadow: 3px 3px rgb(100, 0, 0);
  border: double rgba(100, 0, 0, 0.5);
  font-family: 'Griffy', cursive;
  pointer-events: auto;
  user-select: none;
}

.symbol:hover {
  background: rgb(255, 255, 255);
  color: #000000;
}


.overDriveSym:hover {
  background:  rgb(255, 255, 255);
  color: red;
}


.ecole {
  font-size: 100px;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.overDriveEcole {
  font-size: 100px;
  color: rgb(255, 0, 0);
  font-family: 'Griffy', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.answer {
  width: 180px;
  height: 150px;
  margin-left: 10px;
  font-size: 110px;
  /* border: 5px inset rgb(255, 255, 255); */
  color: white;
  border-radius: 5%;
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  white-space: nowrap;
  user-select: none;
}

.overDriveAnswer {
  width: 170px;
  height: 150px;
  margin-left: 5px;
  font-size: 120px;
  color: rgb(255, 0, 0);
  border: 5px dashed rgba(100, 0, 0, 0.5);
  text-shadow: 3px 3px rgb(0, 0, 0);
  border-radius: 5%;  
  display: flex;
  align-items: center;
  font-family: 'Are You Serious', cursive;
  white-space: nowrap;
  user-select: none;
}

/* .incorrectFormula {
  width: 180px;
  height: 160px;
  margin: 0;
  margin-left: 20px;
  font-size: 80px;
  border: none;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: 'Roboto Slab', serif;
} */

/* .overDriveIncorrectF {
  width: 190px;
  height: 160px;
  margin: 0;
  margin-left: 10px;
  font-size: 80px;
  color: rgb(150, 0, 0);
  border: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: 'Frijole', cursive;
} */

#buttonWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  font-size: 30px;
  width: 200px;
  height: 60px;
  margin-left: 15px;
  margin-right: 15px;
  border: outset 1px rgb(255, 255, 255);
  border-radius: 1%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Electrolize', sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 5px black;
  text-shadow: 1px 1px 0 black;
  user-select: none;
  transition: 0.3s;
}

.titleAndClose {
  display: relative;
}

.closeWrapper {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.closeWrapper:hover + .closeButton {
  color: rgba(255, 255, 255, 0.5);
}

.closeButton {
  position: absolute;
  top: 30%;
  right: 1%;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  line-height: 1;
  width: 40px;
  height: 2%;
  background: currentColor;
  border-radius: 2px;  
  cursor: pointer;
  user-select: none;
  z-index: -1;
}

.backButton {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width:7%;
  height: 7%;
  top: 3px;
  right: 3px;
  background:transparent;
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-radius: 6%;
  cursor: pointer;
  user-select: none;
}

.backButton:hover {
  opacity: 0.5;
}

.modeChangeButton {
  position: sticky;
  bottom: 0;
  font-size: 30px;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.modeChangeButton:hover {
  color: black;
  background-color: white;
}

.overDriveButtons {
  font-size: 30px;
  width: 180px;
  height: 90px;
  margin-left: 15px;
  margin-right: 15px;
  border: outset rgb(150, 0, 0);
  border-width: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  color: rgb(100, 0, 0);
  font-family: 'Frijole', cursive;
  cursor: pointer;
  box-shadow: 0 4px 5px black;
  text-shadow: 1px 1px 0 black;
  user-select: none;
  transition: 0.3s;
}

.buttons:hover {
  color: black;
  background-color: white;
}

#resetButton {
  font-size: 28px;
  line-height: 25px;
}

#reloadButton{
  font-size: 28px;
  line-height: 25px;
}
/* 
#showAnsButton {
  font-size: 28px;
  line-height: 25px;
} */

#modeWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modeButtons {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 25px;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  border: outset 1px rgb(255, 255, 255);
  border-radius: 1%;
  color: rgb(240, 240, 240);
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.modeButtons:hover {
  color: black;
  background-color: white;
}

/* .digitButton {
  background: radial-gradient(rgb(40, 50, 110), rgb(60, 70, 155));
}

.teensButton {
  background: radial-gradient(rgb(40, 50, 110), rgb(60, 70, 155));
} */

#overDriveButton {
  font-size: 30px;
  background: rgb(0, 0, 0);
  border: solid 1px rgb(110, 0, 0);
  box-shadow: 0 4px 5px black;
  color: rgb(200, 0, 40);
  font-family: 'Henny Penny', cursive;
  pointer-events: none;
  cursor: pointer;
  transition: 0.3s;
}


.modeButtonsOverDrive {
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border: solid rgb(80, 0, 0);
  border-width: 5px;
  border-radius: 1%;
  background-color: rgb(0, 0, 0);
  color: rgb(110, 0, 0);
  font-family: 'Henny Penny', cursive;
  transition: 0.3s;
}

.btnNoSelect {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s;
  transform: translateY(3px);
  box-shadow: 0 1px 1px black;
}

.btnIsSelect {
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0 1px 1px black;
  color: black;
  background-color: white;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  margin-top: 30px;
  width: 370px;
  height: 80px;
  font-size: 60px;
  color: rgb(235, 235, 235);
  text-shadow: #fff;
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'DSEG7Modern-Regular', sans-serif;
  user-select: none;
  margin-bottom: 70px;
}

.overDriveTimer {
  margin-top: 30px;
  width: 370px;
  height: 80px;
  font-size: 120px;
  color: rgb(100, 25, 25);
  font-family: 'Creepster', cursive;
  user-select: none;
  margin-bottom: 70px;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

/* @import url('https://fonts.googleapis.com/css?family=Exo:400,700');
* {
  margin: 0px;
  padding: 0px;
}

.context {
  width: 100%;
  position: absolute;
  top: 0%;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  border:solid 1px rgb(186, 186, 186);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0%;
  }
  100% {
    transform: translateY(-1500px) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }
}
 */




/*========= wave��`�悷��G���A��?? ===============*/

/* 
#wave{
  position:relative;
  position: absolute;
  bottom: 0;
  left:0;
  height:100%;
  width: 100%;
  background:rgb(0, 0, 0);
  z-index: -10;
  overflow: hidden;
  display: none;
  }

#waveCanvas {
  display: none;
}

.overDriveArea {
  position: relative;
  width: 100%;
  height: 100%;
}

.overDriveCircles {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
} */